.shadow-fixed-green, .shadow-level1 {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.shadow-level1 {
    --tw-shadow: 0px 1px 3px rgba(0,0,0,.04),0px 2px 8px rgba(0,0,0,.08);
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color),0px 2px 8px var(--tw-shadow-color);
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.bg-layer-1, .bg-paper {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}
.mt-\[39px\] {
    margin-top: 39px;
}
.relative {
    position: relative;
}

.pl-\[15px\] {
    padding-left: 15px;
}
.py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px;
}
.items-center {
    align-items: center;
}
.h-9 {
    height: 2.25rem;
}
.flex {
    display: flex;
}

.text-label-2 {
    color: rgba(38,38,38,.75);
}
.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
}
.flex-shrink {
    flex-shrink: 1;
}
.min-w-\[59px\] {
    min-width: 59px;
}

.items-center {
    align-items: center;
}
.shrink-0 {
    flex-shrink: 0;
}
.flex {
    display: flex;
}
.ml-3 {
    margin-left: 0.75rem;
}

.text-label-2 {
    color: rgba(38,38,38,.75);
}
button, button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, input {
    overflow: visible;
    border: none;
}
button, input, optgroup, select, textarea {
    font-size: inherit;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}

svg:not(:root) {
    overflow: hidden;
}

.w-\[18px\] {
    width: 18px;
}
.h-\[18px\] {
    height: 18px;
}

.px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
}
.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.bg-fill-3 {
    background-color: rgba(0,10,32,.05);
}
.rounded-lg {
    border-radius: 0.5rem;
}
button, button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[role=button], button {
    cursor: pointer;
}

.benyue{
    font-size: 14px;
    vertical-align: middle;
}

.my-ml-3{
    align-items: center;
    display: flex;
}

.my-ml-3>button{
    display: flex;
    align-items: center;
}

.Calendar{
    margin-top: 57px;
    margin-left: 15px;
}

.calender-header{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.text-label-4 {
    color: rgba(60,60,67,.3);
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-8 {
    width: 2rem;
}
.h-\[26px\] {
    height: 26px;
}
.flex {
    display: flex;
}
.pointer-events-none {
    pointer-events: none;
}

.calender-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 0 10px;
}

.calender-content>span{
    margin: 10px 0;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.calender-content>span:hover{
    background-color: rgba(200,200,200,.4);
}