@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653809661076') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\f017c";
}

.icon-sousuo:before {
  content: "\f00d9";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-duihao:before {
  content: "\e61e";
}

.icon-piechart:before {
  content: "\e78e";
}

.icon-star:before {
  content: "\e7df";
}

.icon-hot:before {
  content: "\e623";
}

.icon-gerenziliao:before {
  content: "\e603";
}

.icon-safety:before {
  content: "\e6a0";
}

.icon-docs:before {
  content: "\e714";
}

.icon-note:before {
  content: "\e71f";
}

.icon-bell-l:before {
  content: "\e60d";
}

.icon-progress:before {
  content: "\e61c";
}

.icon-doc:before {
  content: "\e6fd";
}

.icon-dark-full:before {
  content: "\e997";
}

.icon-baitianmoshi:before {
  content: "\e769";
}

