@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653791319973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\f017c";
}

.icon-sousuo:before {
  content: "\f00d9";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-duihao:before {
  content: "\e61e";
}

.icon-hot:before {
  content: "\e623";
}

.icon-gerenziliao:before {
  content: "\e603";
}

.icon-bell-l:before {
  content: "\e60d";
}

.icon-dark-full:before {
  content: "\e997";
}

.icon-baitianmoshi:before {
  content: "\e769";
}

