.Today{
    height: 100%;
    padding: 20px;
    background-image: url(../../../../assets/img/TodayBackPic/220407-14886362479c7b.jpeg);
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.Today_top{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

#darkBtn{
    background-color: rgba(38,38,38,.6);
    color: white;
}

.Task_back{
    height: 100%;
    padding: 20px;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/TodayBackPic/截屏2022-06-09\ 15.43.49.png);
}

.all_Task{
    background-image: url(../../../../assets/img/TodayBackPic/截屏2022-06-09\ 15.49.48.png);
}