.q-page{
    display: flex;
    padding-top: 20px;
    padding-bottom:20px;
}

.q-page-left,
.q-page-right{
    height: 100%;
    flex: 3;    
}

.q-page-right{
    flex: 1;
}

.q-page-right{
    box-sizing: border-box;
}

